// @import url('https://fonts.googleapis.com/css?family=Raleway:100,600');
//@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import url('//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css');
html, body {
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    margin: 0;
}

@media screen and (min-width: 1019px) {
    html {
        font-size: 160px !important;
    }
}
